{% extends 'blooddb/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="row justify-content-center">
<div class="card" style="margin:20px;">
<h1 class="display-4 text-center" style="color: crimson;">Login</h1>
<hr>
    <div class="module" style="margin: 20px;">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>    
    {% else %}      
        <p>Please, use the following form to log-in:</p>    
    {% endif %}
        <div class="login-form">      
            <form action="{% url 'account_login' %}" method="post">        
            {{ form | crispy }}        
            {% csrf_token %}        
            <input type="hidden" name="next" value="{{ next }}" />
            <br>        
            <p><input type="submit" value="Log-in"></p>      
            </form>    
        </div>  
    </div>
    </div>
</div>
{% endblock content %}